<!DOCTYPE html>
<html ng-app="pokedex">
<head>
  <meta charset="utf-8">
  <title>Pokedex</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="./scripts/app.js"></script>


</script>

</head>

<body>
  <div ng-controller="PokemonIndexController as pokemonCtrl">

    <div class="jumbotron">
      <div class="container">
        <h1>Pokedex</h1>
        <p>Your Pokemon tracker.</p>
      </div>
    </div>

<div class="col-md-7 col-md-offset-2">
    <form>
      <label for="pokemon-name" class="form-group">New Pokemon Name</label>
      <input type="text" class="form-control" placeholder="New Pokemon Name" ng-model="pokemonCtrl.newPoke.name">

      <label for="pokedexNo" class="form-group">Pokedex Number</label>
      <input type="text" class="form-control" placeholder="Pokedex #"  ng-model="pokemonCtrl.newPoke.pokedex">

      <label for="EvolvedFrom" class="form-group">What did it evolve from?</label>
      <input type="text" class="form-control" placeholder="Evolves from.." ng-model="pokemonCtrl.newPoke.evolves_from">

      <label for="pokeImage" class="form-group">Pokemon Photo</label>
      <input type="text" class="form-control" placeholder="e.g: http://cdn.bulbagarden.net/upload/thumb/3/39/007Squirtle.png/250px-007Squirtle.png" ng-model="pokemonCtrl.newPoke.image">
      <br></br>
      <button type="submit" class="btn btn-success">Submit New Pokemon</button>

    </form>
<div>
    <hr></hr>
    <h2> Search for Pokemon </h2>
        <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
            <input type="text" class="form-control" name="search" placeholder="Search for Pokemon"  ng-model="search">
          </div>
<hr></hr>
    <h2> Pokemon Index </h2>
    <br></br>
    <div ng-repeat="pokemon in pokemonCtrl.pokemonList | orderBy: 'pokedex' | filter: search">
      <div class="col-md-9 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-8 col-xs-11">

              <h3> {{pokemon.name}} </h3>
              <input ng-show="editing" ng-model="pokemon.name" type="text" class="form-control input-md">

              <p> <b>Pokedex #:</b> {{pokemon.pokedex}} </p>
              <input ng-show="editing" ng-model="pokemon.pokedex" type="text" class="form-control input-md">

              <p> <b>Evolves from:</b> {{pokemon.evolves_from}} </p>
              <input ng-show="editing" ng-model="pokemon.evolves_from" type="text" class="form-control input-md">

              <img src={{pokemon.image}} alt="Pokemon"/>
              <input ng-show="editing" ng-model="pokemon.image" type="text" class="form-control input-md">

              <button type="button" class="btn btn-danger" ng-click="pokemonCtrl.deletePoke(pokemon)">Delete Album</button>

              <button type="button" class="btn btn-success" ng-click="pokemonCtrl.editPoke(pokemon); editing = false" ng-show="editing">Save Changes</button>

              <button type="button" class="btn btn-primary" ng-click="editing = true" ng-hide="editing">Edit Album</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
