.jumbotron {
  background-image: url(../images/redbackground.jpg);
  opacity: .9;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
    text-shadow: 50px;
    color: white;
}


h2 {
  text-align: center;
  font-weight: bold;
}

img {
  float: right;
  height: 190px;
  width: 195px;
}

h1 {
    color: white;
    font-style: oblique;
    font-weight: bolder;
}

.col-md-9{
    background-color: darkgray;
}

.panel {
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.form-control {
      box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

body {
    background-color: lightgray;
}
